<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bbcalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BBCalculator">
        <activity
            android:name=".bmr.UDbmr"
            android:exported="false" />
        <activity
            android:name=".bmi.UDbmi"
            android:exported="false" />
        <activity
            android:name=".bmr.BMRList"
            android:exported="false" />
        <activity
            android:name=".bmi.BMIList"
            android:exported="false"
            android:label="@string/title_activity_bmiadapter"
            android:theme="@style/Theme.BBCalculator.NoActionBar" />
        <activity
            android:name=".bmr.BMRMain"
            android:exported="false" />
        <activity
            android:name=".bmi.BMIMain"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>